* {
    box-sizing:  border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #000;
}

.nav-container {
    height: 80px;
    background-color: rgb(8, 8, 99);
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.nav-main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-main h1 {
    color: white;
    font-size: 36px;
}

.contact-link{
    color: white;
    cursor: pointer;
}

.form-container {
    width: 100%;
    padding: 40px 20px;
}

.card-form {
    background-color: #333;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}

.form-control {
    margin-bottom: 20px;

}

.form-control label {
    display: none;
}

.error-message {
    margin-top: 5px;
    color: #faa;
}

.form-input {
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 20px;
    font-size: 14px;
    border: 0;
}

.form-input::placeholder {
    color: #C9C9C9;
}

.form-input:disabled {
    background-color: #ddd;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 250px;
    height: 50px;
    background-color:  rgb(8, 8, 99);
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.btn-left {
    margin-right: 10px;
}

.btn-right {
    margin-left: 10px;
}